* {
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {clear:both;}

.left {float: left;}
.right {float: right;}

.container {
	width: 1170px;
	margin: 0 auto;
}
.wrapper-header-bg {
	width: 100%;
	background: #2F324C url(../img/header-bg.jpg) 50% 50% no-repeat;
}
.header-top {
	border-bottom: 1px solid #505369;
}
.logo {
	padding: 35px 0;
}
.top-menu {
	display: inline-block;
}
.top-menu a{
	display: inline-block;
	font: 700 13px Raleway;
	padding: 40px 55px 35px 0;
	text-transform: uppercase;
	opacity: .75;

}
.top-menu a:last-child {
	padding-right: 0;
}
.header-content {
	padding: 0 110px;
	padding-bottom: 155px;
}
.header-title {
	font: 700 65px/71px "Open Sans";
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	padding-top: 145px;
	padding-bottom: 21px;
}
.header-descr {
	font: 400 22px/33px Raleway;
	color: #fff;
	text-align: center;
}
.header-btn {
	display: block;
	width: 200px;
	height: 45px;
	background-color: #E84545;
	font: 600 13px/21px Raleway;
	color: #fff;
	margin: 75px auto 0 auto;
	padding-right: 0px;
	border-radius: 5px;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
}
.header-btn:hover {
	font: 600 14px/21px Raleway;
}
.header-btn:active {
	background-color: #BE3939;
}
.wrapper-services-bg {
	width: 100%;
	background: #fff;
}
.services {
	padding: 120px 0;
}
.top {
	margin-right: 86px;
}
.bottom{
	margin: 70px 87px 0 0;
}
.serv_container {
	width: 300px;
	position: relative;
	display: inline-block;
}

.serv_container:nth-child(3n) {
	margin-right: 0;
}
.serv_container:nth-child(1),
.serv_container:nth-child(4) {
	margin-left: 45px;
}
.icon-Shape_11 {
  background-image: url(../img/sprite.png);
  background-position: -132px -74px;
  width: 16px;
  height: 16px;
}
.icon-Shape_3 {
  background-image: url(../img/sprite.png);
  background-position: -132px -60px;
  width: 20px;
  height: 14px;
}
.icon-Shape_6 {
  background-image: url(../img/sprite.png);
  background-position: -193px -60px;
  width: 8px;
  height: 18px;
}
.icon-icon1 {
  background-image: url(../img/sprite.png);
  background-position: -72px -60px;
  width: 60px;
  height: 60px;
}
.icon-icon2 {
  background-image: url(../img/sprite.png);
  background-position: -79px 0px;
  width: 73px;
  height: 60px;
}
.icon-icon3 {
  background-image: url(../img/sprite.png);
  background-position: -152px -60px;
  width: 41px;
  height: 60px;
}
.icon-icon4 {
  background-image: url(../img/sprite.png);
  background-position: -152px 0px;
  width: 56px;
  height: 60px;
}
.icon-icon5 {
  background-image: url(../img/sprite.png);
  background-position: 0px -60px;
  width: 72px;
  height: 60px;
}
.icon-icon6 {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 79px;
  height: 60px;
}
.sprite {
  display: block;
  margin: 0  auto;
  margin-bottom: 33px;
}
.serv_title{
 font: 700 14px Raleway;
 text-align: center;
 text-transform: uppercase;
 color: #2D3033;
}
.serv_descr {
	padding-top: 20px;
	font: 400 14px/21px Raleway;
	line-height: 21px;
	color: #8E9398;
	text-align: center;
}
.portfolio {
	width: 100%;
	font-size: 0;
}
.portfolio li {
	width: 25%;
	display: inline-block;
	position: relative;
	border: 1px solid #fff;
}
.portfolio img {
	max-width: 100%;
	height: 350px;
	display: block;
}
.descr {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(218,71,71,.5);
	color: #fff;
	padding-top: 180px;
	text-align: center;
	opacity: 0;
	transition: all .40s;
}
.descr h3 {
	font: 700 14px Raleway;
	text-transform: uppercase;
	padding-bottom: 10px;
}
.descr p {
	font: 400 14px Raleway;
}
.portfolio li:hover .descr {
	opacity: 1;
}
.wrapper-footer-top-bg {
	width: 100%;
	font-size: 0;
	background: #3A3E64;
}
.footer-top-item {
	display: inline-block;
	width: 33.33%;
	height: 100%;
	padding-top: 65px;
	padding-bottom: 85px;
	text-align: center;
	vertical-align: top;
}
.footer-top-item .footer-descr {
	font: 700 14px Raleway;
	color: #fff;
	padding-bottom: 17px;
	text-transform: uppercase;
}
.footer-top-item:first-child p{
	font: 14px/22.5px Raleway;
	color: #fff;
	opacity: .5;
	padding-right: 110px ;
	padding-left: 110px ; 
	margin-bottom: 22px;
}
.footer-top-item:last-child p{
	font: 14px/22.5px Raleway;
	color: #fff;
	opacity: .5;
	padding-right: 20px ;
	padding-left: 20px ; 
	l
}
.icon-social {
	display: inline-block;
	width: 40px;
	height: 40px;
	padding-top: 9px;
	border: 2px solid #fff;
	margin-bottom: 26px;
}
.icon-social:hover {
	border-radius: 5px;
}
.icon-social 	~  .icon-social{
	margin-left: 8px;
}
.wrapper-footer-bottom-bg {
	width: 100%;
	background: #313454;
}
.footer-copyright {
	width: 370px;
	margin: 0 auto;
	text-align: center;
	padding: 22px 10px;
}
.footer-copyright p{
	font: 14px/22.5px Raleway;
	color: #808080;
}
.footer-copyright span{
	font: 14px/22.5px OpenSans;
	color: #fff;
	letter-spacing: .8px;
}
.copyright-icon {
	background: url(../img/Copyright.png);
	display: inline-block;
	width: 11px;
	height: 10px;
}
